<!DOCTYPE html>

<html>
<body>
  <div>
    <h1><%= @game.player2.name %> has been attacked </h1>
    <h1>HP was reduced by <%= Player::DEFAULT_DAMAGE %>, <%= @game.player2.name %>'s HP = <%= @game.player2.hp %></h1>
  </div>
  <form action='/attack' method='get'>
    <input type='submit' value='Attack!'></input>
  </form>
</body>

</html>
