<!DOCTYPE html>

<html>
<body>
  <div>
    <h1><%= @player2.name %> has been attacked </h1>
    <h1>HP was reduced by <%= Player::DEFAULT_DAMAGE %>, <%= @player2.name %>'s HP = <%= @player2.hp %></h1>
  </div>
</body>

</html>
