<div>
  Player 1 : <%= session[:player1].name %>
    Player 1's Hitpoints            <br/>

  Player 2 : <%= session[:player2].name %>

    Player 2's Hitpoints
</div>

<div>
    <form action='/attack' method="post">
      <input type="submit" value="Attack">
    </form>
</div>
