<%= @player1.name %> vs <%= @player2.name %> - are you ready?
<br>
<%= @player2.name %> has <%= @player2.hp %> HP
<br>

<form action="/attack" method="get">
  <input type="submit" value="GET PUNCHY!!!!">
</form>
