<!DOCTYPE html>

<html>
<body>
  <div>
    <h1> Player 1: <%= @player1 %> </h1>
    <h1>VS</h1>
    <h1> Player 2: <%= @player2 %> HP = 20</h1>
  </div>
  <form action='/attack' method='post'>
    <input type='submit' value='Attack!'></input>
  </form>
</body>

</html>
